$primary-color: lightblue;
$secondary-color: blue;
$font-stack: Comic Sans MS;

body {
  background-color: $primary-color;
  font-family: $font-stack;
}

button {
  padding: 10px;
  transition: ease-in-out 1s;
}

button:hover {
   padding: 11px;
   cursor: pointer;
}

.movie-info {
  text-align: center;
  display: flex;
  margin-right: 80%;
  flex-direction: column;
}

p {
  background-color: gray;
  margin: 0;
  width: 65%;
  height: 50px;
  align-self: center;

}
img {
  max-width: 200px;
  align-self: center;
}